{% extends 'base.html' %}

{% block content %}

  {% block content_header %}
    <h2>Cinemas CSV</h2>
    <p></p><p></p>
    <p>
      <a href="{% url 'upload_cinema' %}" class="btn btn-primary">Upload Files</a>
    </p>
  {% endblock %}

  <div class="form-row" style="margin:20px;">
      <div class="form-group col-12" style="text-align: center; width: 100%;">
        <table class="table table-striped table-bordered text-center">
        <thead class="thead-dark">
          <tr class="thead-dark" style="text-align: center;">
            <th scope="col">File</th>
            <th scope="col">Download</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for cinema in cinemas %}
            <tr class="thead-dark" style="text-align: center;">
              <td>{{cinema.csv}}</td>
              <td>
                <a href="{{ cinema.csv.url }}" class="btn btn-primary btn-sm" target="_blank">
                  Download
                </a>
              </td>
              <td>
                <form method="post" action="{% url 'delete_cinema' cinema.pk %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
  </div>  

{% endblock %}