{% extends 'base.html' %}

{% block content %}
  <div style="margin:20px">
    <h2 class="card-title">Curso de Business Intelligence y Big Data</h2>
  <p class="card-text">Trabajo final - Septiembre 2021</p><br>
  <p class="card-text">Integrantes del grupo:
    <br>&emsp;• Ing. Mario Alcides Bolaños Amaya
  </p>
  <p class="card-text">Integrantes del grupo:
    <br>&emsp;• César Homero Amaya Soriano
    <br>&emsp;• Marvin Obed Figueroa López
    <br>&emsp;• René Fernando Menjívar Aguilera
    <br>&emsp;• David Edgardo Melara Lemus
  </p>  
  <p class="card-text">Universidad de El Salvador
    <br>Facultad Muldisciplinaria de Occidente
    <br>Departamento de Ingeniería y Arquitectura
  </p>
  </div>   
{% endblock %}