{% extends 'base.html' %}

{% block content %}

  {% block content_header %}
    <form method="post" action="{% url 'generate_report'%}" style="margin:20px">
      {% csrf_token %}
      <h2 style="margin-bottom: 25px">Reports</h2>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputFromDate">From Week:</label>
          <input type='date' class="form-control" name="from_date" value="2021-01-01" min="2019-01-01" max="2021-12-31" id="inputFromDate" style="text-align: center;" required/>
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <div class="form-group col-md-4">
          <label for="inputToDate">To Week:</label>
          <input type='date' class="form-control" name="to_date" value="2021-12-31" min="2019-01-01" max="2021-12-31" id="inputToDate" style="text-align: center;" required/>
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <div class="form-group col-md-4">
          <button type="submit" id="btnGenerate" class="btn btn-primary" style="width: 49%; margin-top: 32px;">Generate</button>
          <button type="submit" class="btn btn-danger" onclick="createPDF()" style="width: 49%;  margin-top: 32px;">Download PDF</button>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-8">
          <label for="inputReport">Report:</label>
          <select class="form-control" name="report" id="inputReport">
            <option>Top 5 Movies - General Admissions by Circuit</option>
            <option>Admissions by Country</option>
            <option>Gross by Country</option>
            <option>Admissions by Country and Circuit</option>
            <option>Top 5 Movies - General Admissions</option>
            <option>Top 5 Movies - General Gross</option>
            <option>Top 5 Movies - Country Admissions</option>
            <option>Top 5 Movies - Country Gross</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="inputCountry">Country:</label>
          <select class="form-control" name="country" id="inputCountry">
            <option>El Salvador</option>
            <option>Costa Rica</option>
            <option>Guatemala</option>
            <option>Honduras</option>
            <option>Nicaragua</option>
            <option>Panama</option>
          </select>
        </div>
      </div>
      
    {% endblock %}
    <script>
        function createPDF() {
            var sTable = document.getElementById('form-table').innerHTML;

            var style = "<style>";
            style = style + "table {width: 75%;font: 17px Calibri;}";
            style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
            style = style + "padding: 2px 3px;text-align: center;}";
            style = style + "</style>";

            // CREATE A WINDOW OBJECT.
            var win = window.open('', '', 'height=1024,width=768');

            win.document.write('<html><head>');
            win.document.write('<title>Download Report</title>');   // <title> FOR PDF HEADER.
            win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
            win.document.write('</head>');
            win.document.write('<body>');
            win.document.write(sTable);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
            win.document.write('</body></html>');

            win.document.close();   // CLOSE THE CURRENT WINDOW.

            win.print();    // PRINT THE CONTENTS.
        }
    </script>


    <div class="form-row" id="form-table" style="margin:15px; overflow: auto;">
      <div class="form-group col-12" style="margin-top: 5px;" style="text-align: center; width: 100%; overflow: scroll;">
        <table class="table table-striped" align="center">
            {{table|safe}}
        </table>
      </div>
    </div>

    </form>
  {% endblock %}